@model BrightlandsCasus.Models.StapConnectie
@{
    ViewData["Title"] = "Connectn";
}



<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Verbind de stappen</h2>
		</div>
		<div>
			<h5>
				Beschrijving van de stappen:
			</h5>
		</div>
		<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
				<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="RouteUitelg" hidden></label>
			<select asp-for="RouteUitelg">
				<option value="Loop links naar de trap">Loop links naar de trap</option>
				<option value="Loop rechts naar de wc">Loop rechts naar de wc</option>
				<option value="Loop rechtdoor naar de administratie">Loop rechtdoor naar de administratie</option>
				<option value="Loop links naar de traplift">Loop links naar de traplift</option>
				<option value="Loop rechtdoor naar de zithal">Loop rechtdoor naar de zithal</option>
				<option value="loop de trap op">Loop de trap op</option>
				<option value="Loop links de gang op">Loop links de gang op</option>
				<option value="Loop rechts de gang op">	Loop rechts de gang op</option>
				<option value="Loop rechtdoor de gang op">Loop rechtdoor de gang op</option>
				<option value="Open de deur van lokaal 2">Open de deur van lokaal 2</option>
				<option value="Open de deur van lokaal 3">Open de deur van lokaal 3</option>
				<option value="Open de deur van lokaal 4">Open de deur van lokaal 4</option>
				<option value="Open de deur van lokaal 5">Open de deur van lokaal 5</option>
				<option value="Open de deur van lokaal 6">Open de deur van lokaal 6</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" style="width:200px">Connectie aanmaken</button>
		<a asp-controller="StappenConnecties" asp-action="Index" class="btn btn-secondary" style="width200px">
			Terug naar de index
		</a>
	</div>
</form>