@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />

<img class="img-logo" src="~/Images/logo.jpg" alt="Brightlands" />

<button class="button-63" role="button" onclick="location.href='@Url.Action("BedrijvenOverzicht","Bedrijf")'">Bedrijf</button>
<button class="button-64" role="button">Lokalen</button>
<button class="button-65" role="button">Connecties</button>

