@model BrightlandsCasus.Models.Lokaal

<div class="card">
    <div class="card-header">
        <h5>Lokaal aanmaken</h5>
    </div>

    <form asp-action="LokaalPost" method="post">
        <div class="card-body">
            <br />
            <div class="row">
                <div class="col form-group">
                    <input asp-for="LokaalNummer" placeholder="LokaalNummer" class="form-control" />
                </div>
            </div>
            <br />
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Opslaan</button>
        </div>
    </form>
</div>
