@model BrightlandsCasus.Models.StapConnectie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StapConnectie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StapFromId" class="control-label"></label>
                <select asp-for="StapFromId" class="form-control" asp-items="ViewBag.StapFromId"></select>
                <span asp-validation-for="StapFromId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StapToId" class="control-label"></label>
                <select asp-for="StapToId" class="form-control" asp-items="ViewBag.StapToId"></select>
                <span asp-validation-for="StapToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afstand" class="control-label"></label>
                <input asp-for="Afstand" class="form-control" />
                <span asp-validation-for="Afstand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteUitelg" class="control-label"></label>
                <input asp-for="RouteUitelg" class="form-control" />
                <span asp-validation-for="RouteUitelg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

